<%- include('partials/header.ejs') %>

<h3>Welcome to my blog!</h3>

<ul>
    <% for(var i =0; i<blogData.length; i++) { %>
        <li><a href="/blog?id=<%= i %>" %>"><%= blogData[i].title %></a></li>
    <% } %>
</ul>

<script>

</script>


<%- include('partials/footer.ejs') %>